{% extends 'recipe_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <script>
            window.location.href = "{% url 'recipe_list' %}";
        </script>
    {% else %}
        <div class="auth-container">
            <h2>Login</h2>
            <form method="post" class="auth-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'signup' %}">Register here</a></p>
        </div>
    {% endif %}
{% endblock %}