{% extends 'recipe_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <script>
            window.location.href = "{% url 'recipe_list' %}";
        </script>
    {% else %}
        <div class="auth-container">
            <h2>Register</h2>
            <form method="post" class="auth-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    {% endif %}
{% endblock %}